# Backend
backend/.env
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc
backend/.venv/
backend/venv/

# Frontend
frontend/project.private.config.json
frontend/miniprogram_npm/
frontend/node_modules/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temp
*.log
nul
